* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: rgb(194, 115, 255);
    /* --primary-color: rgb(255, 115, 197); */
    --white: white;
    --black: black;
    --fs1: 50px;
    --fs2: 30px;
    --fs3: 16px;

}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--black);
    padding: 20px;
    text-align: center;
}

section.main {
    background-color: var(--primary-color);
    border: 3px solid var(--black);
    padding: 100px var(--fs1);
    text-align: center;

    h2 {
        font-size: var(--fs1);
    }

    p {
        font-size: var(--fs2);
        margin: var(--fs1) 0px;
    }

    button {
        padding: 10px var(--fs2);
        border-radius: 8px;
        background-color: var(--black);
        color: var(--white);
        font-size: var(--fs2);
    }
}

aside {
    background-color: var(--black);
    color: var(--white);

    a {
        font-size: var(--fs3);
        padding: 10px var(--fs2);
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer {
    background-color: var(--primary-color);
}

aside {
    grid-column-start: 1;
    grid-column-end: 2;

    nav {
        padding-top: var(--fs1);
        display: grid;
        grid-template-columns: auto;
        gap: var(--fs2);

        a {
            &:hover {
                background-color: var(--primary-color);
                color: var(--black);
                transition: all 0.3s ease;
            }
        }
    }


}

.main {
    grid-column-start: 2;
    grid-column-end: 5;
}

header,
footer {
    grid-column-start: 1;
    grid-column-end: 5;
}